@model SendMethod

@{
    ViewBag.Title = "ویرایش روش ارسال";
}

@using (Html.BeginForm("Edit", "SendMethods", FormMethod.Post, new { @class = "validate", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-sm-6">
        @Html.Partial("_Status")
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename)

            @if (!String.IsNullOrWhiteSpace(Model.Filename))
            {
                <img src="@(StaticPaths.SendMethods + Model.Filename)" alt="فایل آپلود شده" class="pull-left" width="200" />
            }
            <input type="file" id="ImageFile" name="ImageFile" />
            @Html.HiddenFor(model => model.Filename)
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control number" })
                    ریال
                </div>
            </div>
        </div>
        <div class="checkbox">
            @Html.CheckBoxFor(model => model.IsActive)
            @Html.LabelFor(model => model.IsActive)
        </div>
        <button type="submit" class="btn btn-success">ثبت</button>
        <a href="/Admin/SendMethods" class="btn btn-warning">بازگشت</a>
    </div>
}
