@model EditAttrGroup

@{
    ViewBag.Title = "ویرایش گروه ویژگی";
}

@using (Html.BeginForm("Edit", "AttrGroups", FormMethod.Post, new { @class = "validate" }))
{
    @Html.AntiForgeryToken()

    <div class="col-sm-6">
        @Html.Partial("_Status")

        <div class="form-group">
            @Html.LabelFor(model => model.Groups)
            <div>
                @Html.Partial("_TreeView", new TreeViewSettings()
                   {
                       ControllerName = "/Admin/Groups",
                       JsonMothod = "GetGroups",
                       FieldName = "JSONGroups",
                       TreeViewSelectMode = TreeViewSelectMode.Multiple,
                       SelectedItems = Model.Groups
                   })
            </div>
            <label id="GroupsError" class="error" style="display: none;"></label>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OrderID)
            @Html.TextBoxFor(model => model.OrderID, new { @class = "form-control number" })
        </div>
        <button type="submit" class="btn btn-success">ثبت</button>
        <a href="/Admin/AttrGroups" class="btn btn-warning">بازگشت</a>
    </div>
}
