@model OnlineStore.Website.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "فراموشی کلمه عبور";
}

@Html.Partial("_PageTitle", new PageTitleSettings()
{
    BreadCrumbs = new List<BreadCrumbLink>() {
        new BreadCrumbLink() { Title = "حساب من", Link = "/My-Account" },
        new BreadCrumbLink() { Title = "فراموشی کلمه عبور", Link = "/ForgotPassword" }
    }
})

<div class="responsive-box">
    <div class="forgot-password-box">
        @if (Model != null && Model.IsSuccess)
        {
            <div class="alert alert-info">
                لطفا ایمیل خود را جهت بازیابی کلمه عبور بررسی نمایید.
            </div>
        }
        else
        {
            using (Html.BeginForm("ForgotPassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.Partial("_Status")
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "required email" })
                    <input type="submit" class="btn-submit" value="ارسال لینک" />
                </div>
            }
        }
    </div>
</div>

@section Styles{
    <link href="/css/forgot-password.min.css" rel="stylesheet" />
}