@model OnlineStore.Website.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

@Html.Partial("_PageTitle", new PageTitleSettings()
{
    BreadCrumbs = new List<BreadCrumbLink>() {
        new BreadCrumbLink() { Title = "حساب من", Link = "/My-Account" },
        new BreadCrumbLink() { Title = "ورود به سایت", Link = "/Login" },
        new BreadCrumbLink() { Title = "فراموشی کلمه عبور", Link = "/فراموشی-کلمه-عبور" },
        new BreadCrumbLink() { Title = "بازیابی کلمه عبور", Link = "#" }
    }
})

<div class="responsive-box">
    <div class="reset-password-box">
        @if (Model != null && Model.IsSuccess)
        {
            <div class="alert-success">
                <h4>
                    <i class="fa fa-check"></i>
                    تایید
                </h4>
                کلمه عبور شما با موفقیت تغییر کرد. لطفا جهت ورود به سایت @Html.ActionLink("اینجا", "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" }) را کلیک نمایید.
            </div>
        }
        else
        {
            using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal validate", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <label class="alert-info">جهت بازیابی کلمه عبور، لطفا کلمه عبور جدید خود را وارد نمایید.</label>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="row">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "required email" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "required", @maxlength = "20" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required", @maxlength = "20" })
                </div>
                <div class="row">
                    <input type="submit" class="btn-submit" value="بازیابی" />
                </div>
            }
        }
    </div>
</div>

@section Styles{
    <link href="/css/reset-password.min.css" rel="stylesheet" />
}