@model List<EditMenuItemBanner>

<script id="EditMenuItemBannerTemplate" type="text/template">
    <div class="row">
        <div class="col-md-2 text-center">
            <button class="btn btn-warning btn-upload" data-toggle="button">
                <span>آپلود</span>
                <i class="icon-upload"></i>
            </button>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option value="0">بنر اصلی</option>
                <option value="1">بنر بالا - چپ</option>
                <option value="2">بنر پایین - چپ</option>
                <option value="3">بنر پایین - وسط</option>
                <option value="4">بنر پایین - راست</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control link" placeholder="لینک" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-xs btn-danger btn-delete" data-toggle="button">
                <i class="icon-trash"></i>
            </button>
        </div>
    </div>
</script>

<div class="row editproductimage">
    <div class="col-md-12">
        <div id="MenuItemBannersList">
            @foreach (var item in Model)
            {
                <div class="row" data-id="@item.ID">
                    <div class="col-md-2 text-center">
                        <a href="/Files/MenuItemBanners/@item.Filename" target="_blank" class="btn btn-success"><span>آپلود شده </span><i class="icon-check"></i></a>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option value="0" @(item.MenuItemBannerType == MenuItemBannerType.Type1 ? "selected" : "")>بنر اصلی</option>
                            <option value="1" @(item.MenuItemBannerType == MenuItemBannerType.Type2 ? "selected" : "")>بنر بالا - چپ</option>
                            <option value="2" @(item.MenuItemBannerType == MenuItemBannerType.Type3 ? "selected" : "")>بنر پایین - چپ</option>
                            <option value="3" @(item.MenuItemBannerType == MenuItemBannerType.Type4 ? "selected" : "")>بنر پایین - وسط</option>
                            <option value="4" @(item.MenuItemBannerType == MenuItemBannerType.Type5 ? "selected" : "")>بنر پایین - راست</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control link" value="@item.Link" placeholder="لینک" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-danger btn-delete" data-toggle="button">
                            <i class="icon-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <button id="AddMenuItemBanner" class="btn btn-xs btn-success" type="button" data-toggle="button">
                    <i class="icon-plus-sign"></i>
                </button>
            </div>
        </div>
    </div>
</div>
